*{
  box-sizing: border-box;
}
body{
  margin:0;
}

.flexc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App{
  width:60%;
}

input{
  border-radius: 30px;
}